<link rel="stylesheet" href="/css/home.css">
    
<div id="home-container">
    <section id="feed-posts">
        <div id="posts-container">
            <h4>Posts</h4>
            <!-- Show this form if user is signed in -->
           <% if(locals.user){ %>  
   
               <div class="form-group">
                   <form action="/posts/create" id="new-post-form" method="POST">
                       <textarea name="content" rows="3" class="form-control" placeholder="Type Here..." id="post-input" required id="exampleFormControlTextarea1"></textarea>
                       <input type="submit" class="btn btn-outline-secondary value="Post">
                   </form>
                 </div>
   
   
           <% } %>
           
   
           <div id="posts-list-container">
                   <ul>
                       <% for(post of posts){ %>
                           
                       <%- include('_post') -%>
                           
                       <%} %>
                   </ul>
           </div>
        </div>

    </section>

    <section id="users-container">
        <!-- If user is signed in then show his/her friends -->
        <% if(locals.user){ %>
        <div id="users-friends">
            <h4>Friends</h4>

            <% for(friend of logged_in_user.friendships){%>
                <!-- if User himself had sent the request -->
                <% if(locals.user.id == friend.from_user.id){ %>
                    <!-- then friend details are in to_user object -->
                    <p id="friend-<%= friend.to_user.id %>" class="friends-of-user">
                        <a href="/users/profile/<%= friend.to_user.id %>"><%= friend.to_user.name %></a>
                        <a class="remove-friend-button" href="/friendship/toggle/<%= friend.to_user.id %>">
                            <button type="button">
                                Delete friend
                            </button>
                        </a>
                    </p>
                    <% }else{ %>
                        <!-- then friend details are in from_user object -->
                        <p id="friend-<%= friend.from_user.id %>" class="friends-of-user">
                            <a href="/users/profile/<%= friend.from_user.id %>"><%= friend.from_user.name %></a>
                            <a class="remove-friend-button" href="/friendship/toggle/<%= friend.from_user.id %>">
                                <button type="button">
                                    Delete friend
                                </button>
                            </a>
                        </p>
                    <% } %>
            <% } %>
        </div>
        <% } %>

        <div id="users">
            <h4>Users</h4>
            <% for(u of all_users){%>
                    <p>
                        <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
                    </p>    
            <% } %>
        </div>
    </section>
    <%- include('_chat_box') -%>
</div>


<script src="/js/home_post_comments.js"></script>
<script src="/js/home_posts.js"></script>
<script src="js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>

<% if(locals.user){%>
    <script>
        console.log('heyyyy');
        //  initializing ChatEngine class
        new ChatEngine('user-chat-box', '<%= locals.user.email %>');
    </script>    
<%} %>
