<link rel="stylesheet" href="<%= assetPath('css/user_profile.css') %>">

<div id="user-profile-container">
    <div id="image-container">
        <img src="<%= profile_user.avatar %>" class="dp" alt="<%= profile_user.name %>" width="100">
    </div>

    <div id="form-container">
        <% if(user.id == profile_user.id){%>
            <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="post">
    

                <div class="form-group">
                    <label for="formGroupExampleInput">Email</label>
                    <input type="email" class="form-control" id="formGroupExampleInput" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
                  </div>

                <div class="form-group">
                    <label for="formGroupExampleInput">Name</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
                  </div>

                <div class="form-group">
                    <label for="formGroupExampleInput">Update Profile Picture</label>

                    <input type="file" class="form-control" id="formGroupExampleInput" name="avatar" placeholder="Profile Picture">

                </div>                      
                      
                <div id="change-dp">
                    <input type="submit" class="btn btn-light" value="Update">
                </div>
            </form>
    
        <%}else{%>
            <p>Name: <%= profile_user.name %></p>
            <p>Name: <%= profile_user.email %></p>
    
            <a href="/friendship/toggle/<%=profile_user._id%>">
                <button type="submit">
                    Add Friend
                </button>
    
    
    
            </a>
        <%} %>
    </div>
    
</div>